# ----- INVENTORY SERVICE -------------------------------------------------------------
INVENTORY_IP=
INVENTORY_HOST=
INVENTORY_PORT=
INVENTORY_MOVIES_DATABASE_URL=
INVENTORY_DEBUG=
# -------------------------------------------------------------------------------------

# ----- INVENTORY SERVICE -------------------------------------------------------------
BILLING_IP=
BILLING_HOST=
BILLING_PORT=
BILLING_DEBUG=
# ----------------------------------------BILLING_HOST---------------------------------------------

# ----- API GATEWAY SERVICE -----------------------------------------------------------
GATEWAY_IP=
GATEWAY_HOST=
GATEWAY_PORT=
GATEWAY_DEBUG=
INVENTORY_SERVICE_URL=
# -------------------------------------------------------------------------------------
